@import url(reset.css);

.test {
	height: 200px;
	width: 200px;
	font-family: Helvetica;
	font-size: 50px;
	background-color: black;
	color: black;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 300px auto;
	line-height: 1.15;
}

div::selection {
background: red;
color: white;
}
