@import url(reset.css);

body {
	background-color: grey;
	margin: auto;
}

input, button {
	margin: 50px auto;
	display: flex;
	align-items: center;
	text-align: center;
	outline: none;
}

div {
	margin: 50px auto;
	text-align: center;
}
