@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	background-color: grey;
	font-family: 'Open Sans', sans-serif;
}

.currency {
	margin: 100px 50px;
}

.grade {
	height: 20px;
	background-color: blue;
}

h1 {
	font-weight: bold;
}
